.wrapper {
    max-width: 1240px;
    margin: 0 auto;
  }

.main {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 128px;
  gap: 20px;
}

.filters {
  width: 500px;
  border: 4px solid red;
}

.fligths-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.blue-text {
  color: var(--primary);
  font-weight: 300;
}

.arrow {
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
}

.thin-line {
  color: grey;
  padding: 0 5px;
}