.wrapper {
    max-width: 1240px;
    margin: 0 auto;
  }

.blue-text {
  color: var(--primary);
  font-weight: 300;
}

.arrow {
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
}

.thin-line {
  color: grey;
  padding: 0 5px;
}

.companies {
  display: flex;
  flex-direction: column;
}